.dots {
    width: var(--size);
    height: var(--size);
    position: relative;
  }
  
  .dot {
    width: var(--size);
    height: var(--size);
    animation: dwl-dot-spin calc(var(--speed) * 5) infinite linear both;
    animation-delay: calc(var(--i) * var(--speed) / (var(--dot-count) + 2) * -1);
    rotate: calc(var(--i) * var(--spread) / (var(--dot-count) - 1));
    position: absolute;
  }
  
  .dot::before {
    content: "";
    display: block;
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
  
  @keyframes dwl-dot-spin {
    0% {
      transform: rotate(0deg);
      animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
      opacity: 1;
    }
  
    2% {
      transform: rotate(20deg);
      animation-timing-function: linear;
      opacity: 1;
    }
  
    30% {
      transform: rotate(180deg);
      animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
      opacity: 1;
    }
  
    41% {
      transform: rotate(380deg);
      animation-timing-function: linear;
      opacity: 1;
    }
  
    69% {
      transform: rotate(520deg);
      animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
      opacity: 1;
    }
  
    76% {
      opacity: 1;
    }
  
    76.1% {
      opacity: 0;
    }
  
    80% {
      transform: rotate(720deg);
    }
  
    100% {
      opacity: 0;
    }
  }



  
.slider{
  position:fixed;
  width:100%;
  height:2px;
  overflow-x: hidden;
  top: 0px;
  z-index: 99999999;
}
.slider2{
  position:fixed;
  width:100%;
  height:2px;
  overflow-x: hidden;
  bottom: 0px;
  z-index: 99999999;
}
.line{
  position:absolute;
  opacity: 0.4;
  background:transparent;
  width:150%;
  height:2px;
}

.subline{
  position:absolute;
  background:#ff0000;
  height:3px; 
  border-radius: 3px;
}
.inc{
animation: increase 2s infinite;
}
.dec{
animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
 from { 
  left: -5%; 
  width: 5%; 
  opacity: 1;

}
 to { 
  left: 130%; 
  width: 100%;
  opacity: 0.6;
}
}
@keyframes decrease {
 from { 
  left: -80%; 
  width: 80%;
  opacity: 1;
 }
 to { 
  left: 110%; 
  width: 10%;
  opacity: 1;

}
}


.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}